html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    font-family: "Century Gothic", Arial, sans-serif;
    background-color: rgb(219, 219, 219);
    font-size: 18px;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h1 {
    margin-bottom: 5px;
    margin-left: 20px;
}

.about-card {
    width: 50rem;
    height: 450px;
    border-width: 1px;
    border-color: rgba(219, 234, 254, 1);
    border-radius: 1rem;
    background-color: rgb(255, 232, 232);
    padding: 0 30px 10px;
    overflow-y: hidden;
}
.about-card:hover {
    overflow-y: auto;
}

.about-card p {
    margin-top: -10px;
    line-height: 1.8;
}


/* Small screens modification goes here */


@media screen and (max-width: 768px) {
    html, body {
        font-size: 13px;
        overflow: hidden;
    }
    .container {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .container-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    h1 {
        margin-bottom: 5px;
        margin-left: 20px;
    }      
    
    .about-card {
        width: 22rem;
        height: 460px;
        border-width: 1px;
        border-color: rgba(219, 234, 254, 1);
        border-radius: 1rem;
        background-color: rgb(255, 232, 232);
        padding: 0 20px 10px;
        overflow-y: auto;
    }
    .about-card:hover {
        overflow-y: auto;
    }
    
    .about-card p {
        margin-top: -10px;
        line-height: 1.8;
    }
}